<div class="mainContainer" fxLayout="row" fxLayoutAlign="space-around center">
  <div
    class="cardContainer"
    fxLayout="column"
    fxFlex="48"
    fxLayoutAlign="center center"
    style="margin-top: 5em"
  >
    <!-- Card -->
    <mat-card>
      <mat-card-title>Register Component</mat-card-title>
      <mat-card-subtitle
        >Create your account. It's free and only takes a
        minute.</mat-card-subtitle
      >
      <mat-card-content>
        <form #registerForm="ngForm">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <!-- First Name -->
            <div
              class="inputContainer"
              fxLayout="column"
              fxFlex="48"
              fxLayoutAlign="start center"
            >
              <mat-form-field class="inputField" appearance="outline">
                <mat-label>First Name</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Enter your first name"
                  [(ngModel)]="user.firstName"
                  name="firstName"
                  required
                  minlength="3"
                  maxlength="10"
                />
                <mat-error
                  *ngIf="registerForm.controls.firstName?.errors?.required"
                >
                  First Name is required
                </mat-error>
                <mat-error
                  *ngIf="registerForm.controls.firstName?.errors?.minlength"
                >
                  Expected
                  {{
                    registerForm.controls.firstName.errors?.minlength
                      .requiredLength
                  }}
                  charectors but received
                  {{
                    registerForm.controls.firstName.errors?.minlength
                      .actualLength
                  }}
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Last Name -->
            <div
              class="inputContainer"
              fxLayout="column"
              fxFlex="48"
              fxLayoutAlign="start center"
            >
              <mat-form-field class="inputField" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input
                  type="text"
                  matInput
                  #lsName
                  placeholder="Enter your last name"
                  [(ngModel)]="user.lastName"
                  name="lastName"
                  required
                  minlength="3"
                  maxlength="10"
                />
                <mat-error
                  *ngIf="registerForm.controls.lastName?.errors?.required"
                >
                  First Name is required
                </mat-error>
                <mat-error
                  *ngIf="registerForm.controls.lastName?.errors?.minlength"
                >
                  Expected
                  {{
                    registerForm.controls.lastName.errors?.minlength
                      .requiredLength
                  }}
                  charectors but received
                  {{
                    registerForm.controls.lastName.errors?.minlength
                      .actualLength
                  }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <!-- Submit Button -->
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxFlex="100" fxLayoutAlign="start center">
              <button
                mat-raised-button
                (click)="submit(registerForm)"
                color="primary"
              >
                Register Now
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="cardContainer"
    fxLayout="column"
    fxFlex="48"
    fxLayoutAlign="center center"
    style="margin-top: 5em"
  >
    <!-- Card -->
    <mat-card>
      <mat-card-title>Display Component</mat-card-title>
      <!-- Child -->
      <app-display-name [user2]="user"></app-display-name>
    </mat-card>
  </div>
</div>
